#introButton {
    color: #aaa
}

#introButton:hover {
    color: #fff;
    cursor: pointer
}

body {
    background-color: #131313
}

body,
h1,
h2,
nav,
ul,
li {
    margin: 0;
    padding: 0
}

header {
    background-color: #0a0a0a;
    color: #f0f0f0;
    display: flex;
    padding: 10px 20px;
    align-items: center;
    position: relative
}

h1,
h2,
p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #f0f0f0
}

a,
button {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header h1 {
    font-size: 1.5rem
}

.logo {
    margin-right: 20px
}

.logo img {
    height: 40px
}

nav {
    margin-left: auto
}

nav ul {
    display: flex;
    list-style: none
}

nav li {
    margin: 10px 20px
}

a {
    color: #f0f0f0;
    text-decoration: none
}

.menu-icon {
    display: none;
    font-size: 1.5rem;
    cursor: pointer
}

.home-main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0 30px
}

.home-content {
    text-align: center;
    position: relative
}

#home-content-h1 {
    color: #fff;
    font-size: 3rem;
    margin-bottom: 20px
}

#home-content-p1 {
    color: #fff;
    font-size: 2rem
}

#home-content-p2 {
    color: #fff;
    font-size: 1.2rem;
    max-width: 600px
}

.home-btn-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap
}

.home-btn {
    background-color: #eee;
    padding: 10px 10px;
    color: #131313;
    text-decoration: none;
    border: 2px solid #505050;
    border-radius: 20px;
    width: 30%;
    box-sizing: border-box;
    text-align: center;
}

.home-btn:hover {
    background-color: #FFF
}

#nty {
    position: relative
}

.adventure-header {
    text-align: center;
    margin: 20px;
}

.adventure-main {
    display: flex;
    flex-direction: column;
    min-height: 100vh
}

.adventure-content {
    display: flex;
    flex-direction: column;
    align-items: center
}

.adventure-section {
    background-color: #1f1f1f;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgb(0 0 0 / .2);
    margin-bottom: 20px;
    padding: 20px;
    width: 80%;
    max-width: 800px;
    text-align: left;
    position: relative;
    margin-left: auto;
    margin-right: auto
}

.adventure-section:hover {
    background-color: #2e2e2e;
    cursor: pointer
}

.adventure-section h1 {
    text-align: center
}

.adventure-paragraph {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #fff;
    font-size: 1.2rem;
    margin-bottom: 20px
}

.about-main {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 30px
}

.about-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center
}

#about-content-h1 {
    margin-bottom: 20px
}

.about-section {
    background-color: #1f1f1f;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgb(0 0 0 / .2);
    margin-bottom: 20px;
    padding: 20px;
    width: 80%;
    max-width: 800px;
    text-align: left;
    position: relative
}

.about-section h1 {
    text-align: center
}

.about-paragraph,
.about-paragraph-last {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #fff;
    font-size: 1.2rem;
    margin-bottom: 20px
}

.about-paragraph-last {
    padding-bottom: 10px
}

.about-list {
    margin: 20px 30px
}

.about-btn {
    padding: 10px 15px;
    color: #aaa;
    text-decoration: none;
    position: absolute;
    bottom: 20px;
    right: 20px;
    display: flex;
    align-items: center;
    gap: 5px
}

.about-span {
    position: relative
}

.about-span::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 1px;
    background-color: #aaa;
    transition: background-color 0.3s
}

.about-btn:hover .about-span::after {
    background-color: #FFF
}

.about-btn:hover {
    color: #FFF
}

.project-header {
    margin: 20px
}

.project-main {
    display: flex;
    flex-direction: column;
    min-height: 100vh
}

.project-content {
    display: flex;
    flex-direction: column;
    align-items: center
}

.project-section {
    background-color: #1f1f1f;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgb(0 0 0 / .2);
    margin-bottom: 20px;
    padding: 20px;
    width: 80%;
    max-width: 800px;
    text-align: left;
    position: relative;
    margin-left: auto;
    margin-right: auto
}

.project-section:hover {
    background-color: #2e2e2e;
    cursor: pointer
}

.project-section h1 {
    text-align: center
}

.project-paragraph {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #fff;
    font-size: 1.2rem;
    margin-bottom: 20px
}

/* Spiel Section */

.spiel-header {
    margin: 20px
}

.spiel-main {
    display: flex;
    flex-direction: column;
    min-height: 100vh
}

.spiel-content {
    display: flex;
    flex-direction: column;
    align-items: center
}

.spiel-section {
    background-color: #1f1f1f;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgb(0 0 0 / .2);
    margin-bottom: 20px;
    padding: 20px;
    width: 80%;
    max-width: 800px;
    text-align: left;
    position: relative;
    margin-left: auto;
    margin-right: auto
}

.spiel-section h1 {
    text-align: center
}

.spiel-paragraph {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #fff;
    font-size: 1.2rem;
    margin-bottom: 20px
}

.coming-soon {
    color: #aaa;
    text-align: center
}

.output-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    place-items: center;
    font-size: 36px;
    text-align: center;
    height: 90vh;
    margin: 0 50px
}

.start-box {
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%)
}

.start-box button {
    font-size: 16px;
    background-color: #eee;
    padding: 10px 15px;
    color: #131313;
    text-decoration: none;
    border: 2px solid #505050;
    border-radius: 20px;
    box-sizing: border-box;
    text-align: center;
    cursor: pointer
}

.start-box button:hover {
    background-color: #FFF
}

@keyframes fadeInOut {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1
    }

    100% {
        opacity: 0
    }
}

.opening-text {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #f0f0f0;
    text-align: center;
    font-size: 3rem;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    display: none
}

.start-opening {
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 16px;
    background-color: #eee;
    padding: 10px 15px;
    color: #131313;
    text-decoration: none;
    border: 2px solid #505050;
    border-radius: 20px;
    box-sizing: border-box;
    text-align: center;
    cursor: pointer
}

.start-opening:hover {
    background-color: #FFF
}

.skip-box {
    position: relative
}

#skipButton {
    font-size: 12px;
    text-decoration: underline;
    position: absolute;
    top: 20px;
    right: 20px
}

footer {
    background-color: #0a0a0a;
    padding: 20px 0;
    text-align: center;
    flex-shrink: 0
}

.footer-content {
    display: flex;
    justify-content: center;
    gap: 20px
}

.footer-content a {
    color: #f0f0f0;
    font-size: 1.2rem;
    text-decoration: none
}

.footer-content a i {
    margin-right: 8px
}

.popup {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0 0 0 / .4)
}

.popup-content {
    background-color: #2e2e2e;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #505050;
    width: 80%;
    max-width: 300px;
    text-align: center
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: 700;
    cursor: pointer
}

.close:hover,
.close:focus {
    color: #f0f0f0;
    text-decoration: none;
    cursor: pointer
}

.button {
    display: inline-block;
    margin: 10px;
    padding: 10px 10px;
    color: #131313;
    background-color: #eee;
    border-radius: 20px;
    width: 200px;
    box-sizing: border-box;
    cursor: pointer;
    text-decoration: none
}

.button:hover {
    background-color: #FFF
}

.copy-tooltip {
    position: absolute;
    top: 105%;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgb(0 0 0 / .8);
    padding: 5px 10px;
    border-radius: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    color: #f0f0f0;
    transition: opacity 0.3s ease;
    opacity: 0;
    pointer-events: none
}

.copy-tooltip::after {
    content: "";
    position: absolute;
    top: -5px;
    left: 50%;
    transform: translateX(-50%);
    border-width: 5px;
    border-style: solid;
    border-color: #fff0 #fff0 rgb(0 0 0 / .8) #fff0
}

@media (max-width:700px) {
    header h1 {
        font-size: 1.5rem
    }

    nav li {
        margin: 10px 10px
    }

    #home-h1 {
        font-size: 2rem
    }

    #home-p1 {
        font-size: 1.5rem
    }

    .home-btn {
        width: 100%
    }

    .output-box {
        font-size: 1.5rem
    }

    .about-section {
        width: 90%
    }

    .about-paragraph,
    .about-paragraph-last {
        font-size: 1rem;
    }

    .about-span {
        font-size: 0.8rem;
    }

    .footer-content a {
        font-size: .8rem
    }
}

@media (max-width:600px) {
    header h1 {
        font-size: 1rem
    }

    .copy-tooltip {
        font-size: 10px
    }
}

.learn-more {
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 30%;
    left: 50%;
    transform: translateX(-50%)
}

#learnMore {
    display: none;
    font-size: 20px;
    color: #aaa;
    text-decoration: none;
    text-align: center
}