@font-face {
    font-family: "Boring-Sans-B-Medium";
    src: url("Font/boring_sans_b/Boring-Sans-B-Medium-trial.ttf");
}

@font-face {
    font-family: "Boring-Sans-B-Regular";
    src: url("Font/boring_sans_b/Boring-Sans-B-Regular-trial.ttf");
}

body, h1, nav, ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: #131313;
}

header {
    color: #f0f0f0;
    display: flex;
    padding: 10px 20px;
    align-items: center;
    position: relative;
}

h1, p {
    font-family: "Boring-Sans-B-Medium";
    color: #f0f0f0;
}

a { font-family: "Boring-Sans-B-Medium";}

header h1 { font-size: 1.5rem; }

.logo { margin-right: 20px; }

.logo img { height: 40px; }

nav { margin-left: auto; }

nav ul { display: flex; }

nav li { margin: 10px 20px; }

nav a {
    color: #f0f0f0;
    text-decoration: none;
}

.menu-icon {
    display: none;
    font-size: 1.5rem;
    cursor: pointer;
}

.home-main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0px 30px;
}

.home-content {
    text-align: center;
    position: relative;
}

#home-content-h1 {
    color: white;
    font-size: 3rem;
}

#home-content-p1 {
    color: white;
    font-size: 2rem;
}

.home-btn-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}

.home-btn {
    background-color: #eeeeee;
    padding: 10px 10px;
    color: #131313;
    text-decoration: none;
    border: 2px solid #505050;
    border-radius: 20px;
    width: 200px;
    box-sizing: border-box;
    text-align: center;
}

.home-btn:hover {
    background-color: #FFFFFF;
}

#nty {
    position: relative;
}

@media (max-width: 700px) {
    header h1 { font-size: 1.5rem; }

    nav li { margin: 10px 10px; }

    #home-h1 { font-size: 2rem; }

    #home-p1 { font-size: 1.5rem; }

    .home-btn { width: 100%; }

}

.about-main {
    display: flex;
    justify-content: center;
    text-align: center;
    height: 100vh;
    margin: 0px 30px;
}
.about-main p {
    font-size: 6rem;
}

.project-main {
    display: flex;
    justify-content: center;
    text-align: center;
    height: 100vh;
    margin: 0px 30px;
}
.project-main p {
    font-size: 6rem;
}

@media (max-width: 600px) {
    header h1 {
        font-size: 1rem;
    }
}