@font-face {
    font-family: "Boring-Sans-B-Medium";
    src: url("Font/boring_sans_b/Boring-Sans-B-Medium-trial.ttf");
}

@font-face {
    font-family: "Boring-Sans-B-Regular";
    src: url("Font/boring_sans_b/Boring-Sans-B-Regular-trial.ttf");
}

body {
    background-color: #131313;
}

body, h1, h2, nav, ul, li {
    margin: 0;
    padding: 0;
}

header {
    background-color: #0a0a0a;
    color: #f0f0f0;
    display: flex;
    padding: 10px 20px;
    align-items: center;
    position: relative;
}

h1, h2, p {
    font-family: "Boring-Sans-B-Medium";
    color: #f0f0f0;
}

.project-header {
    margin: 20px;
}

a, button { font-family: "Boring-Sans-B-Medium";}

header h1 { font-size: 1.5rem; }

.logo { margin-right: 20px; }

.logo img { height: 40px; }

nav { margin-left: auto; }

nav ul { 
    display: flex;
    list-style: none;
}

nav li { margin: 10px 20px; }

a {
    color: #f0f0f0;
    text-decoration: none;
}

.menu-icon {
    display: none;
    font-size: 1.5rem;
    cursor: pointer;
}

.home-main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0px 30px;
}

.home-content {
    text-align: center;
    position: relative;
}

#home-content-h1 {
    color: white;
    font-size: 3rem;
}

#home-content-p1 {
    color: white;
    font-size: 2rem;
}

#home-content-p2 {
    color: white;
    font-size: 1.2rem;
}

.home-btn-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}

.home-btn {
    background-color: #eeeeee;
    padding: 10px 10px;
    color: #131313;
    text-decoration: none;
    border: 2px solid #505050;
    border-radius: 20px;
    width: 200px;
    box-sizing: border-box;
    text-align: center;
}

.home-btn:hover {
    background-color: #FFFFFF;
}

#nty {
    position: relative;
}

/* Adventure Section */

.adventure-header {
    margin: 20px;
}

.adventure-main {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Set minimum height to full viewport height */
}

.adventure-content {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center the content vertically */
}

.adventure-section {
    background-color: #1f1f1f;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
    padding: 20px;
    width: 80%;
    max-width: 800px;
    text-align: left;
    position: relative;
    /* Center the box horizontally */
    margin-left: auto;
    margin-right: auto;
}

.adventure-section h1 {
    text-align: center;
}

.adventure-paragraph {
    font-family: "Boring-Sans-B-Regular";
    color: white;
    font-size: 1.2rem;
    margin-bottom: 20px;
}

/* About Section */

.about-main {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 30px;
}

.about-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#about-content-h1 {
    margin-bottom: 20px;
}

.about-section {
    background-color: #1f1f1f;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
    padding: 20px;
    width: 80%;
    max-width: 800px;
    text-align: left;
    position: relative;
}

.about-section h1 {
    text-align: center;
}

.about-paragraph, .about-paragraph-last {
    font-family: "Boring-Sans-B-Regular";
    color: white;
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.about-paragraph-last {
    padding-bottom: 10px;
}

.about-list {
    margin: 20px 30px;
}


.about-btn {
    padding: 10px 15px;
    color: #aaaaaa;
    text-decoration: none;
    position: absolute;
    bottom: 20px;
    right: 20px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.about-btn span {
    position: relative;
}

.about-btn span::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 1px;
    background-color: #aaaaaa;
    transition: background-color 0.3s;
}

.about-btn:hover span::after {
    background-color: #FFFFFF;
}

.about-btn:hover {
    color: #FFFFFF;
}


.project-main {
    display: flex;
    justify-content: center;
    text-align: center;
    height: 100vh;
    margin: 0px 30px;
}

.coming-soon {
    color: #aaaaaa;
    text-align: center;
}

/* start */

.output-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    place-items: center;
    font-size: 36px;
    text-align: center;
    height: 100vh;
    margin: 0px 50px;
}

.start-box {
    display: flex;
    justify-content: center;
    position: fixed; /* Change position to fixed */
    bottom: 50px;
    left: 50%; /* Center horizontally */
    transform: translateX(-50%); /* Center horizontally */
}

.start-box button {
    font-size: 16px; /* Adjust font size as needed */
    background-color: #eeeeee;
    padding: 10px 15px;
    color: #131313;
    text-decoration: none;
    border: 2px solid #505050;
    border-radius: 20px;
    box-sizing: border-box;
    text-align: center;
}

.start-box button:hover {
    background-color: #FFFFFF;
}

.skip-box {
    position: relative; /* Make the container relative */
    /* Other styles for the output-box */
}

#skipButton {
    font-size: 12px;   
    text-decoration: underline;
    position: absolute;
    top: 20px;
    right: 20px;
}

footer {
    background-color: #0a0a0a;
    padding: 20px 0;
    text-align: center;
    flex-shrink: 0;
}

.footer-content {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.footer-content a {
    color: #f0f0f0;
    font-size: 1.2rem;
    text-decoration: none;
}

.footer-content a i {
    margin-right: 8px;
}

@media (max-width: 700px) {
    header h1 { font-size: 1.5rem; }

    nav li { margin: 10px 10px; }

    #home-h1 { font-size: 2rem; }

    #home-p1 { font-size: 1.5rem; }

    .home-btn { width: 100%; }

    .output-box {
        font-size: 1.5rem;
    }

    .about-section {
        width: 90%;
    }

    .about-paragraph, .about-paragraph-last {
        font-size: 1rem;
    }

    .footer-content a {
        font-size: 0.8rem;
    }
}

@media (max-width: 600px) {
    header h1 {
        font-size: 1rem;
    }
}